<!-- wp:template-part {"slug":"header","tagName":"header","className":"site-header"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"constrained"}} -->
<main class="wp-block-group">
	<!-- wp:heading {"level":1,"align":"wide","className":"title"} -->
	<h1 class="title alignwide">Hello Kanopi!</h1>
	<!-- /wp:heading -->

	<!-- wp:paragraph {"align":"center","fontSize":"medium"} -->
	<p class="has-text-align-center has-medium-font-size">Today's date is</p>
	<!-- /wp:paragraph -->

	<!-- wp:kanopi/fancy-date -->
	<div class="wp-block-kanopi-fancy-date"></div>
	<!-- /wp:kanopi/fancy-date -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer"} /-->
